.hero {
  background-color: white;
  padding: 5rem 1rem;
  text-align: center;
  border-bottom: 1px solid var(--border-color);
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.hero h2 {
  font-size: 2.5rem;
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.1rem;
  color: var(--text-secondary);
  margin-bottom: 3rem;
}

.search-large {
  display: flex;
  max-width: 700px;
  margin: 0 auto 2rem;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid var(--border-color);
}

.search-large input {
  flex-grow: 1;
  padding: 1.2rem;
  font-size: 1.1rem;
  border: none;
  outline: none;
}

.search-large button {
  background-color: var(--primary-color);
  color: white;
  padding: 0 2rem;
  font-weight: 700;
  font-size: 1rem;
  transition: background 0.2s;
}

.search-large button:hover {
  background-color: var(--primary-hover);
}

.tags {
  font-size: 0.9rem;
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.tags a {
  background-color: #f1f3f5;
  padding: 4px 10px;
  border-radius: 20px;
  color: var(--text-primary);
}

.tags a:hover {
  background-color: #e9ecef;
  color: var(--primary-color);
}
